


.game-container{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.game-container iframe {
    border: none;
    height: 530px;
}


.game-description{
    margin-top: -2px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--brand-color);
    
}

.game-description>div{
    padding: 24px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    width: 960px;

}
.game-description p{
font-size: large;
}

.game__description-text{
    display: flex;
    font-weight: 800;
    font-style:italic;
    margin-right:0.5em;
   
}



#btn{
    cursor: pointer;
    background-color: var(--dark-color);
    color: var(--brand-color);
    height: fit-content;
    margin: 20px;
    border-radius: 1em;
    font-size: smaller;
    padding: 15px;
}

@media screen and (max-width: 768px) {
    .game-description{
        flex-wrap: wrap;
    }
}

