 .topheader {
    padding-top: 5px;  
     background-color: var(--mid-color);
     display: flex;
     justify-content: space-around;
     gap: 20em;

 }

 .topheader a {
     background: none;
 }

 .logoes {
     color: var(--light-color);
     font-size: xx-large;

 }

 .secondheader {
    height: 36px;
     background-color: var(--brand-color);
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: x-large;
 }

 .navbar {
     display: flex;
     
 }

 .nav-menu {
     display: flex;
     gap: 30px;
 }

 li {
     display: flex;
     list-style: none;
     text-align: center;
 }

 a {
     text-decoration: none;
     color: var(--light-color);
 }

  #burgermenu {
     display: none;
     cursor: pointer;
 } 

 .bar {
    display: block;
     width: 25px;
     height: 3px;
     margin: 5px auto;
     -webkit-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
     background-color:var(--light-color);
 }


 a:hover {
     color: var(--mid-color);
     transition: 500ms;

 }

 @media screen and (max-width: 768px) {
     .topheader { 
         justify-content: center;
         gap: 5em;
     }
     

    #burgermenu{
        cursor: pointer;
        display: block;
     }
     #burgermenu.active .bar:nth-child(2){
        opacity: 0;
     }
     
     #burgermenu.active .bar:nth-child(1){
        transform: translate(0px) rotate(-45deg);
     }
     
     #burgermenu.active .bar:nth-child(3){
        transform: translate(0px) rotate(45deg);
     }
     .nav-menu{
        display: flex;
        width: 100%;
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--brand-color);
        width: 100%;
        text-align: center;
        transition: 500ms;
     }
     .nav-item{
        margin :16px 0;

     }

     .nav-menu.active{
        left: 0;
     }
     
 }