 body {
     background-color: var(--dark-color);
 }

 .racepics {
     display: block;
     margin: auto;
     height: 100%;
     width: 100%;

 }

 .racepics__mc {
     display: -webkit-box;
     width: 50%;

 }

 .section__top{
    color: var(--light-color);
 }

 .thankyou__name {
     margin: 3px;
 }

 h1 {
     font-size: xx-large;
 }

 .box {
     display: flex;
     background-color: var(--light-color);
     color: var(--dark-color);
     gap: 5rem;
 }


 p {
     display: flex;
     justify-content: center;
     font-size: x-large;
    

 }




 .box__textLeft {
     padding: 30px;
     text-align: center;
     width: 50%;
     letter-spacing: 2px;
     line-height: 30px;
     font-size: medium;
 }


 .box__textRight {
     padding: 30px;
     text-align: center;
     width: 50%;
     letter-spacing: 2px;
     line-height: 30px;
     font-size: medium;
 }


 @media screen and (max-width: 768px) {


    .box{
        flex-direction: column;
    }
    

     .box__textLeft {
        width: 100%;
    }

     .box__textRight {
        width: 100%;
    }


 }